h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family:'Montserrat';
}

p{
    font-size: 1.1em;
    font-family: 'Manrope';
}

ul{
    font-size: 1em;
}
li{
    font-size: 1em;
    font-family: 'Manrope';
}
a{
    font-size: 1em;
    font-family: 'Manrope';
    text-decoration:none;
}



div{
    border: solid 1px ;
    border-left: 1px; 
    border-top-style:none;
    border-color: #8e86b5;
}

#voir{
    border: solid;
    border-radius: 50px;
}

#projet{
    border: solid;
    border-radius: 50px;
}