*{
    margin: 0;
    padding: 0;

}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0;
}

nav li{
    width: 25%;
    text-align: center;
    float: left;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}