div{
    color: red;
    background-color:aquamarine;/*On défini l'arrière plan en ajoutant du bleu */
    /*border-style:dotted;/*Cette ligne permet de rajouter des bordure en fonction du type */
   /* border-width: medium;/*Cette ligne permet de définir la taille de la bordure */

    font-size: 1.33em;
    text-align: center;

    
}

#div1{
    border-style:solid;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
}

#div2{
    border-style:double;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
}

#div3{
    border-style:dotted;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
}

#div4{
    border-style:dashed;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
}





.petal {
  width: 70px;
  height: 50px;
  background: linear-gradient(to bottom, #ff6b9d, #c44569); /* Dégradé rose */
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Forme ovale courbée */
  position: relative;
  transform: rotate(-15deg); /* Inclinaison légère */
}

.petal::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 130px;
  background: inherit;
  border-radius: inherit;
  transform: scale(0.9) rotate(5deg); /* Ajoute de la profondeur */
  opacity: 0.8;
}
