div{
    color: red;
    /*border-style:dotted;/*Cette ligne permet de rajouter des bordure en fonction du type */
   /* border-width: medium;/*Cette ligne permet de définir la taille de la bordure */

    font-size: 1.33em;
    text-align: center;
    width: 550px;
    weight:550px;

    
}

#div1{
    border-style:solid;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
    color: green;
    border-radius: 25px 10px 45px 45px;
    height: 600px;/*ajustement de la hauteur à 600 pixel*/
    width: 750px;/*ajustement de la largeur à 750 pixel*/
}

#div2{
    border-style:double;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;

}

#div3{
    border:dotted red 4px;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
    color: orange;
    border-radius: 15px;/*on défini les angles des bordures à 15 pixels*/
    text-align: center;
    width: 450px;
    height: 700px;

}

#div4{
    border-style:dashed;/*Cette ligne permet de rajouter des bordure en fonction du type */
    border-width: medium;
}
