/*Intégration de la couleur sur des éléments html*/
p{
    color: #ff0000;
}
h1{
    color: green;
}
ol{
    color: purple;
}
ul{
    color: blue;
}
dd{
    color: orange;
}
a{
    color: aqua;
}
img{
    color: darkred;
}